<td colspan="5">
    <div style="text-align: center;">
{% case emptyType %}
{% when "badResult" %}
        Aucun résultat pertinent pour le document {{ halid }}.
{% else %}
        Ligne vide.
{% endcase %}
<br>
        <div class="loadingEmptyRow">
            <span class="icon-text"><span class="icon">
                <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
            </span>
            <span>Recherche d'un nouveau document</span>
        </div>
    </div>
</td>
{% if emptyType != 'addDOI' %}
<script>
    if(halDocumentSet.allDone) {
        $('.loadingEmptyRow').hide();
    }
</script>
{% endif %}