{% if warning != '' %} {{ warning }} {% endif %}
{% if customDOI %}
<spam>
{% else %}
<spam style="background:{{ color }}">
{% endif %}
    {{ title }}
</spam><br />
{% if customDOI != true %}
auteurs : {% for author in authors %}
    {% if forloop.index0!=0 %}, {% endif; %}
    {{author}}
    {% endfor %}<br />
    revue : {{ journal }}<br />
    Date de publication : {{ publicationDate }}
{% endif %}
<script>
    async function addDOICol() {
        doiCol = '<p><a target="_blank" href="{{ URL }}">{{ DOI }}</a></p>';
        doiCol += '<p><a title="Ajouter" class="button is-primary" id="{{ halid }}ModLink" data-halid="{{ halid }}" href="#{{ halid }}Row">Ajouter le DOI</a><p><a class="button is-warning" id="{{ halid }}IgnoreLink" data-halid="{{ halid }}">Ignorer le document</a></p>';
        await $('#{{ halid }}DOI').html(doiCol);
        // ajout événement modifier
        $('#{{ halid }}ModLink').click(async function(ev) {
                ev.preventDefault();
                await askAddDOIs('{{ halid }}');
            }
        )
        // ajout événement ignorer
        $('#{{ halid }}IgnoreLink').click(async function(ev){
            ev.preventDefault();
            await halDocumentSet.ignore('{{ halid }}');
        })
    }
    addDOICol();
</script>