<tr id="{{ halid }}ResultRow" style="height: 225px;">
    <td class="{{ halid }}RemoveOnAdd" style="width: 5%">
    <input type="checkbox" id="{{ halid }}Selected" class="selectRow" data-halid="{{ halid }}">
    </td>
    <td id="{{ halid }}Description" style="width: 37%">
        {{ title }}<br />
        <a target="_blank" target="_blank" href="{{ uri_s }}">{{ uri_s }}</a><br />
        auteurs : {% for author in authors %}
            {% if forloop.index0!=0 %}, {% endif; %}
            {{author}}
        {% endfor %}<br />
        revue : {{ journalTitle_s }}<br />
        Date de publication : {{ publicationDate_s }}
    </td>
    <td id="{{ halid }}SelectedResult" style="width: 37%">
    </td>
    <td id="{{ halid }}DOI">
        <p>Aucun DOI sélectionné</p>
        <p><a class="button is-primary" disabled>Ajouter le DOI</a><p></p>
        <p><a class="button is-warning" id="{{ halid }}IgnoreLink" data-halid="{{ halid }}">Ignorer le document</a></p>
    </td>
</tr>
<script>
    // ajout événement ignorer
    $('#{{ halid }}IgnoreLink').click(async function(ev){
        ev.preventDefault();
        await halDocumentSet.ignore('{{ halid }}');
    })

    // check or uncheck selectAllDoc
    $('#{{ halid }}Selected:checkbox').change(function() {
        if(!$('.selectAllDoc').prop('checked')) {
            toCheck = true;
            $('.selectRow').each(function(index, element) {
                if(!$(this).prop('checked')) {
                    toCheck = false;
                }
            })
            $('.selectAllDoc').prop('checked', toCheck);
        }
        if (!$('#{{ halid }}Selected').prop('checked')) {
            $('.selectAllDoc').prop('checked', false);
        }
    })
    if(halDocumentSet.allDone) {
        $('.loadingEmptyRow').hide();
    }
</script>