<h2 class="subtitle">Résultats</h2>
<article class="message is-warning">
    <div class="message-body">
        Les résultats peu pertinents (taux de similarité entre les deux titres < 75%) sont automatiquement ignorés.
    </div>
</article>
<p>Nombre de documents Hal sans DOI pour la structure : <span id="nbResult">0</span></p>
<p>Nombre de documents Hal sans DOI ignorés ou en erreur : <span id="nbIgnored">0</span></p>
<p>Nombre de documents Hal sans DOI restant à traiter : <span id="nbTodo">0</span></p>
<p>Nombre de DOIs ajoutés depuis le début de la recherche : <span id="nbAdd">0</span></p>
<p>
    Code couleur des résultats :
    <ul>
        <li><span id="result99">Taux de similarité entre les deux titres de 99% ou plus</span></li>
        <li><span id="result90">Taux de similarité entre les deux titres entre 90% et 99%</span></li>
        <li><span id="result75">Taux de similarité entre les deux titres entre 75% et 90%</span></li>
    </ul>
</p>
<table id="result-table" border="1" class="table" style="width:100%">
    <thead>
        <tr>
            <td>↱</td>
            <td colspan="3">
                <a title="Ajouter" class="button is-primary is-small addDOISelected" href="#result-table">Ajouter les DOI selectionnés</a>
                <a title="ignorer" class="button is-warning is-small ignoreSelected" href="#result-table">ignorer les documents selectionnés</a>
            </td>
        </tr>
        <tr>
            <th><input type="checkbox" class="selectAllDoc"></th>
            <th>Document Hal</th>
            <th>Recherche/Erreur</th>
            <th>DOI</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th><input type="checkbox" class="selectAllDoc"></th>
            <th>Document Hal</th>
            <th>Recherche</th>
            <th>DOI</th>
        </tr>
        <tr>
            <td>↳</td>
            <td colspan="3">
                <a title="Ajouter" class="button is-primary is-small addDOISelected" href="#result-table">Ajouter les DOI selectionés</a>
                <a title="ignorer" class="button is-warning is-small ignoreSelected" href="#result-table">ignorer les documents selectionnés</a>            </td>
        </tr>
    </tfoot>
</table>

<h2 class="subtitle">Ajout de DOI</h2>

<div id="errorListDialog" title="Typologie des erreurs" style="display:none" class="container">
    <h2>1) TEI mal formaté</h2>
    Le fichier généré n'est pas correct. L'appli ne peut pas ajouter le TEI. Vous pouvez le modifier directement sur Hal.

    <h2>2) Problème de droit</h2>
    Vous n'avez pas la propriété sur le dépôt Hal.

    <h2>3) {"duplicate-entry":{"#halid":{"doi":"1.0"}}}</h2>
    Le document est sans doute un doublon.

    <h2>4) erreur non identifier</h2>
    L'erreur n'a pas été reconnue.
    </div>
</div>
<a id="showErrorList">Afficher la typologie des erreurs.</a>

<table id="AddingDOI">
    <thead>
        <th>Document Hal</th>
        <th>Etat</th>
        <th>DOI</th>
    </thead>
</table>
<script>
    $("#showErrorList").click(ev => {
        $("#errorListDialog").dialog ({
            width: 800,
            position: {my: 'center', at: "center", of: window},
        });
    })
    
    // colorisation échelle
    for(value of [99, 90, 75]){
        $('#result'+value).css('background', getColor(value+1))
    }

    // événement selection tous les halDocuments
    $('.selectAllDoc').click(ev => {
        $('.selectRow').each(function(){
            $(this).prop( "checked", $('.selectAllDoc').is(':checked'))
        })
    });

    // modifier les DOI des halDocuments selectionner
    $('.addDOISelected').click(async function(ev) {
        ev.preventDefault();
        var halidList = [];
        var DOIunset = false;
        $('.selectRow:checked').each(async function() {
            var halid = $(this).data('halid');
            if (halDocumentSet.getHalDoc(halid).chosenDOI!=undefined) {
                halidList.push(halid);
            } else {
                DOIunset = true;
            }
        })
        if(DOIunset) {
            alert('Vous avez selectionner une publication sans DOI trouver');
        } else {
            await askAddDOIs(halidList);
        }
    });

    // ignorer les halDocuments selectionner
    $('.ignoreSelected').click(async function(ev) {
        ev.preventDefault();
        var halids = [];
        await $('.selectRow:checked').each(async function() {
            halids.push($(this).data('halid'));
        })
        await halDocumentSet.ignore(halids);
    });
</script>