<div class="container">
    Êtes-vous sûr de vouloir insérer les DOIs suivants :<br /><br />
    <table>
        {% for doc in docList %}
        <tr>
            {% render 'dialog/DOIValidation', haldoc:doc.haldoc, result:doc.result, isList:true %}
        </tr>
        {% endfor %}
    </table>
    <br />
    <div style="text-align:center;">
        <a id="validationLink" class="button is-primary">Valider</a>
        <a id="annulationLink" class="button is-light">Annuler</a>
    </div>
</div>
<script>
    $('#annulationLink').click(ev => {
        ev.preventDefault();
        $('#dialog').dialog('close');
    });
    $('#validationLink').click(async ev => {
        ev.preventDefault();
        addDOI([{% for doc in docList %}"{{doc.haldoc['halId_s']}}",{% endfor %}]);
        $('#dialog').dialog('close');
    });
</script>