{% if isList == false %}
<div class="container">
    Êtes-vous sûr de vouloir insérer les DOIs suivants :<br /><br />
<table>
    <tr>
{% endif %}
        <td>{{ haldoc['title_s'] }}</td>
        <td>{{ result.title }}<br>
            {{ result.DOI }}</td>
{% if isList == false %}
    </tr>
</table>
<br />
<div style="text-align:center;">
    <a id="validationLink" class="button is-primary">Valider</a>
    <a id="annulationLink" class="button is-light">Annuler</a>
</div>
</div>
<script>
    $('#annulationLink').click(ev => {
        ev.preventDefault();
        $('#dialog').dialog('close');
    });
    $('#validationLink').click(async ev => {
        ev.preventDefault();
        addDOI("{{ haldoc['halId_s'] }}");
        $('#dialog').dialog('close');
    });
</script>
{% endif %}