<label class="label" for="searchText">Recherche multicritères : </label>
<input class="input" type="text" id="searchText" name="searchText">
<br><br>
<h2 class="subtitle">Résultats</h2>
<table style="width: 100%;" id="resultTable">
   <thead>
      <tr>
         <th style="width: 80%;">Nom</th>
         <th>Code</th>
      </tr>
   </thead>
   <tbody id="resultTableBody"></tbody>
</table>
<script>
   var currentQuery = null;
   $('#searchText').on('input', function() {
      if(currentQuery!=null) currentQuery.abort();
      currentQuery = $.ajax({
         url: 'https://api.archives-ouvertes.fr/ref/structure',
         data: {
            q: $('#searchText').val(),
            fl: 'label_s,acronym_s,docid'
         },
         success: data => {
            $('#resultTableBody').empty();
            idIn = [];
            data['response']['docs'].forEach(async (dataElement, index) => {
               tableLine = '';
               if(!idIn.includes(dataElement['acronym_s'])&&dataElement['acronym_s']!=''&&dataElement['acronym_s']!=undefined) {
                  idIn.push(dataElement['acronym_s']);
                  tableLine = await engine.renderFile("dialog/structureTableLine", {
                     label_s: dataElement['label_s'],
                     acronym_s: dataElement['acronym_s'],
                     index: index,
                  });
                  await $('#resultTableBody').append(tableLine)
               }
            })
            $('.validate').click(ev => {
               ev.preventDefault();
               $('#structure').val($(ev.target).data('newid'));
               $("#dialog").dialog('close');
            })
         }
      })
   });
</script>