<tr>
    <td>
        <a id="strctResult{{ index }}" href="#">{{ label_s }}</a>
    </td>
    <td>
        <a id="strctResult{{ index }}" href="#">{{ acronym_s }}</a>
    </td>
</tr>
<script>
    $('#strctResult{{ index }}').click(ev => {
        ev.preventDefault();
        $('#structure').val("{{ acronym_s }}");
        $("#dialog").dialog('close');
    })
</script>