<tr id="{{ halid }}AddingRow">
    <td id="{{ halid }}Description" class="{{ halid }}UnstyleOnAdd" style="width: 37%">
        <a target="_blank" target="_blank" href="{{ url['hal'] }}">{{ halid }}</a><br />
    </td>
    <td id="{{ halid }}SelectedResult" class="{{ halid }}UnstyleOnAdd" style="width: 37%">
        Le DOI est en cours d'ajout.
    </td>
    <td id="{{ halid }}DOI">
        <a target="_blank" href="{{ url['doi'] }}">{{ DOI }}</a>
    </td>
</tr>