{% for title in title_s %}
<h3>{{ title }}</h3>
{% endfor %}
<div class="columns">
    <div class="column">
        <a target="_blank" target="_blank" href="{{ uri_s }}">{{ uri_s }}</a><br />
        auteurs : {% for author in authFullName_s %}
        {% if forloop.index0!=0 %}, {% endif; %}
        {{author}}
        {% endfor %}<br />
        revue : {{ journalTitle_s }}<br />
        Date de publication : {{ publicationDate_s }}
    </div>
    <div class="column">
    </div>
</div>
